<script type="text/javascript" src="bower/jmain.js"></script>

<!-- main container of all the page elements -->
	<div id="wrapper" class="coach-box-page">
		<!-- header of the page -->
		<div ng-include="'app/views/header.html'" ></div>
		<!-- contain main informative part of the site -->
		<div id="main" style="margin-right: 0px;margin-left: 0px;">
			<!-- coach's -->
			<section class="coachs">
				<!-- filter header -->
				<header class="filter-header">
					<a href="#" class="btn-filter">Online</a>
				</header>
				<div class="scrollable-area">
					<div class="scroll-holder">
						<article ng-repeat="item in items">
							<div class="box">
								<div class="alignleft">
									<span picture-fill data-alt="image description">
										<span pf-src="images/img{{item.id}}.jpg" ></span>
										<span pf-src="images/img{{item.id}}-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<span pf-src="images/img{{item.id}}-s.jpg" data-media="(max-width:600px)" ></span>
										<span pf-src="images/img{{item.id}}-s-2x.jpg" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
										<!--[if (lt IE 9) & (!IEMobile)]>
											<img src="images/img1.jpg" alt="image description">
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="images/img{{item.id}}.jpg" alt="image description"></noscript>
									</span>
								</div>
								<div class="text">
									<div class="fav" ng-class='{active : item.cstatus==1}'>
										<a href="#">star</a>
										<strong>FAV</strong>
									</div>
									<strong class="title"><a href="#">{{item.cName}}</a></strong>
									<div class="star-rating">
										
                                        <img src="images/{{item.startype}}star.png" alt="image description">
                                       
									</div>
									<div class="status" ng-class='{active : item.cstatus==1}'>
										<span class="online">ONLINE - AVAILABLE</span>
										<span class="offline">OFFLINE</span>
									</div>
									<p>Won FFPC high stakes fantasy football (out of 1,200 teams) in 2013.</p>
								</div>
							</div>
							<a href="#/coach-details/" class="more">More about this coach</a>
						</article>
					
						
					</div>
				</div>
			</section>
			<!-- footer of the page -->
			<div id="footer">
				<!-- info -->
				<div class="info">
					<div class="info-holder">
						<p><strong>Need a Quick Answer <a href="#">NOW?</a></strong> Click below to reach the next available coach.</p>
					</div>
				</div>
				<!-- contact options -->
				<div class="contact">
					<div class="contact-holder">
						<ul>
							<li>
								<a href="#/textD1/">
									<span picture-fill data-alt="image description" class="img-holder">
										<span pf-src="images/icon-question.png" ></span>
										<span pf-src="images/icon-question-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<span pf-src="images/icon-question-s.png" data-media="(max-width:600px)" ></span>
										<span pf-src="images/icon-question-s-2x.png" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
										<!--[if (lt IE 9) & (!IEMobile)]>
											<img src="images/icon-question.png" alt="image description">
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="images/icon-question.png" alt="image description"></noscript>
									</span>
									<strong class="title">Text Question</strong>
									<strong class="rate">$1</strong>
								</a>
							</li>
							<li class="chat">
								<a href="#/chatD2/">
									<span picture-fill data-alt="image description" class="img-holder">
										<span pf-src="images/icon-chat.png" ></span>
										<span pf-src="images/icon-chat-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<span pf-src="images/icon-chat-s.png" data-media="(max-width:600px)" ></span>
										<span pf-src="images/icon-chat-s-2x.png" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
										<!--[if (lt IE 9) & (!IEMobile)]>
											<img src="images/icon-chat.png" alt="image description">
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="images/icon-chat.png" alt="image description"></noscript>
									</span>
									<strong class="title">Live Chat</strong>
									<strong class="rate">5 Min = $5</strong>
								</a>
							</li>
							<li>
								<a href="#/callD3-A/">
									<span picture-fill data-alt="image description" class="img-holder">
										<span pf-src="images/icon-call.png" ></span>
										<span pf-src="images/icon-call-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<span pf-src="images/icon-call-s.png" data-media="(max-width:600px)" ></span>
										<span pf-src="images/icon-call-s-2x.png" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
										<!--[if (lt IE 9) & (!IEMobile)]>
											<img src="images/icon-call.png" alt="image description">
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="images/icon-call.png" alt="image description"></noscript>
									</span>
									<strong class="title">Call</strong>
									<strong class="rate">5 Min = $10</strong>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div><!--end of footer-->
		</div>
		
	</div>

	