<script type="text/javascript" src="bower/jmain.js"></script>
<!-- main container of all the page elements -->
	<div id="wrapper" class="coach-details-page">
		<!-- header of the page -->
		<div ng-include="'app/views/header.html'" ></div>
		<!-- contain main informative part of the site -->
		<div id="main">
			<!-- coach details -->
			<section class="coachs">
				<!-- filter header -->
				<header class="filter-header">
					<a href="#" class="btn-filter">Online</a>
				</header>
				<div class="scrollable-area">
					<div class="scroll-holder">
						<div class="coach-details">
							<div class="alignleft">
								<span picture-fill data-alt="image description">
									<span pf-src="images/img1.jpg" ></span>
									<span pf-src="images/img1-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<span pf-src="images/img1-s.jpg" data-media="(max-width:600px)" ></span>
									<span pf-src="images/img1-s-2x.jpg" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/img1.jpg" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/img2.jpg" alt="image description"></noscript>
								</span>
							</div>
							<div class="text">
								<div class="fav">
									<a href="#">star</a>
									<strong>FAV</strong>
								</div>
								<strong class="title"><a href="#">Coach John S.</a></strong>
								<div class="star-rating">
									<span picture-fill data-alt="image description">
										<span pf-src="images/4star.png" ></span>
										<span pf-src="images/4star-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<!--[if (lt IE 9) & (!IEMobile)]>
											<img src="images/4star.png" alt="image description">
										<![endif]-->
										<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
										<noscript><img src="images/4star.png" alt="image description"></noscript>
									</span>
								</div>
								<div class="status active">
									<span class="online">ONLINE - AVAILABLE</span>
									<span class="offline">OFFLINE</span>
								</div>
								<p>Won FFPC high stakes fantasy football (out of 1,200 teams) in 2013. Lorem ipsum.</p>
								<dl class="personal-info">
									<dt>Home State:</dt>
									<dd>California</dd>
									<dt># of Leagues Won in Last 3 Years:</dt>
									<dd>8</dd>
									<dt>Additional Specialties:</dt>
									<dd>
										<ul>
											<li><a href="">Keeper Leagues</a></li>
											<li><a href="">PPR</a></li>
											<li class="last"><a href="">2 QB Leagues</a></li>
										</ul>
									</dd>
								</dl>
								<!-- office hours -->
								<div class="office-hours">
									<strong class="heading">Office Hours (EST)</strong>
									<table>
										<tr>
											<td>Mon.</td>
											<td>2PM - 6PM</td>
										</tr>
										<tr class="even">
											<td>Wed.</td>
											<td>2PM - 6PM</td>
										</tr>
										<tr>
											<td>Thurs.</td>
											<td>11AM - 2PM</td>
										</tr>
										<tr class="even">
											<td>Fri.</td>
											<td>11AM - 2PM</td>
										</tr>
										<tr>
											<td>Sat.</td>
											<td>2PM - 6PM</td>
										</tr>
									</table>
								</div>
								<!-- expert in -->
								<div class="expert-in">
									<strong class="heading">Expert in:</strong>
									<ul>
										<li>
											<a href="#">
												<span picture-fill data-alt="image description">
													<span pf-src="images/icon9.png" data-width="44" data-height="27" ></span>
													<span pf-src="images/icon9-2x.png" data-width="44" data-height="27" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<span pf-src="images/icon9.png" data-width="27" data-height="17" data-media="(max-width:600px)" ></span>
										<span pf-src="images/icon9-2x.png" data-width="27" data-height="17" data-media="(min-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (min-width:600px) and (min-resolution:144dpi)" ></span>
													<!--[if (lt IE 9) & (!IEMobile)]>
														<img src="images/icon9.png" alt="image description">
													<![endif]-->
													<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
													<noscript><img src="images/icon9.png" width="44" height="27" alt="image description"></noscript>
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span picture-fill data-alt="image description">
													<span pf-src="images/icon10.png" data-width="36" data-height="36" ></span>
													<span pf-src="images/icon10-2x.png" data-width="36" data-height="36" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<span pf-src="images/icon10.png" data-width="21" data-height="21" data-media="(max-width:600px)" ></span>
										<span pf-src="images/icon10-2x.png" data-width="21" data-height="21" data-media="(min-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (min-width:600px) and (min-resolution:144dpi)" ></span>
													<!--[if (lt IE 9) & (!IEMobile)]>
														<img src="images/icon10.png" alt="image description">
													<![endif]-->
													<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
													<noscript><img src="images/icon10.png" width="36" height="36" alt="image description"></noscript>
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span picture-fill data-alt="image description">
													<span pf-src="images/icon11.png" data-width="36" data-height="35" ></span>
													<span pf-src="images/icon11-2x.png" data-width="36" data-height="35" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<span pf-src="images/icon11.png" data-width="21" data-height="21" data-media="(max-width:600px)" ></span>
										<span pf-src="images/icon11-2x.png" data-width="21" data-height="21" data-media="(min-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (min-width:600px) and (min-resolution:144dpi)" ></span>
													<!--[if (lt IE 9) & (!IEMobile)]>
														<img src="images/icon11.png" alt="image description">
													<![endif]-->
													<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
													<noscript><img src="images/icon11.png" width="36" height="35" alt="image description"></noscript>
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												<span picture-fill data-alt="image description">
													<span pf-src="images/icon12.png" data-width="47" data-height="36" ></span>
													<span pf-src="images/icon12-2x.png" data-width="47" data-height="36" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
										<span pf-src="images/icon12.png" data-width="28" data-height="22" data-media="(max-width:600px)" ></span>
										<span pf-src="images/icon12-2x.png" data-width="28" data-height="22" data-media="(min-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (min-width:600px) and (min-resolution:144dpi)" ></span>
													<!--[if (lt IE 9) & (!IEMobile)]>
														<img src="images/icon12.png" alt="image description">
													<![endif]-->
													<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
													<noscript><img src="images/icon12.png" width="47" height="36" alt="image description"></noscript>
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	
		<!-- footer of the page -->
		<footer id="footer">
			<!-- contact options -->
			<div class="contact">
				<div class="contact-holder">
					<ul>
						<li>
							<a href="#/textD1/">
								<span picture-fill data-alt="image description" class="img-holder">
									<span pf-src="images/icon-question.png" ></span>
									<span pf-src="images/icon-question-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<span pf-src="images/icon-question-s.png" data-media="(max-width:600px)" ></span>
									<span pf-src="images/icon-question-s-2x.png" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon-question.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon-question.png" alt="image description"></noscript>
								</span>
								<strong class="title">Text Question</strong>
								<strong class="rate">$1</strong>
							</a>
						</li>
						<li class="chat">
							<a href="#/chatD2/">
								<span picture-fill data-alt="image description" class="img-holder">
									<span pf-src="images/icon-chat.png" ></span>
									<span pf-src="images/icon-chat-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<span pf-src="images/icon-chat-s.png" data-media="(max-width:600px)" ></span>
									<span pf-src="images/icon-chat-s-2x.png" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon-chat.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon-chat.png" alt="image description"></noscript>
								</span>
								<strong class="title">Live Chat</strong>
								<strong class="rate">5 Min = $5</strong>
							</a>
						</li>
						<li>
							<a href="#/callD3-A/">
								<span picture-fill data-alt="image description" class="img-holder">
									<span pf-src="images/icon-call.png" ></span>
									<span pf-src="images/icon-call-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<span pf-src="images/icon-call-s.png" data-media="(max-width:600px)" ></span>
									<span pf-src="images/icon-call-s-2x.png" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon-call.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon-call.png" alt="image description"></noscript>
								</span>
								<strong class="title">Call</strong>
								<strong class="rate">5 Min = $10</strong>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
		</div>
	</div>
