	<!-- header of the page -->
		<header id="header">
			<div class="header-holder">
                
				<strong class="btn-back" ng-click="toggleAnimation()"><a href="#/{{link}}/">back</a></strong>
				<h1>{{title}}</h1>
				<!-- nav holder -->
				<div class="nav-holder">
					<a href="#" class="filter"></a>
					<a href="#/messages/" class="inbox"><span class="counter">10</span></a>
					<!-- main navigation of the page -->
					<nav id="nav">
						<a href="#" class="nav-opener">nav opener</a>
						<div class="slide-block">
							<a href="#" class="close">close</a>
							<div class="nav-slide">
								<a href="mailto:&#097;&#099;&#099;&#111;&#117;&#110;&#116;&#115;&#045;&#101;&#109;&#097;&#105;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="email">&#097;&#099;&#099;&#111;&#117;&#110;&#116;&#115;&#045;&#101;&#109;&#097;&#105;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
								<ul>
									<li class="has-dropdown">
										<a href="#">Choose a Sport</a>
										<div class="submenu">
											<a href="#" class="back-menu">BACK</a>
											<ul>
												<li>
													<a href="#">
														<div class="img-holder">
															<span picture-fill data-alt="image description" class="normal">
																<span pf-src="images/icon5-h.png" ></span>
																<span pf-src="images/icon5-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
                                                                 <img src="images/icon5.png" alt="image description">
                                                                 <![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon5.png" alt="image description"></noscript>
															</span>
															<span picture-fill data-alt="image description" class="hover">
																<span pf-src="images/icon5-h.png" ></span>
																<span pf-src="images/icon5-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon5.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon5.png" alt="image description"></noscript>
															</span>
														</div>
														<strong class="title" style="color:#428bca;">FOOTBALL</strong>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="img-holder">
															<span picture-fill data-alt="image description" class="normal">
																<span pf-src="images/icon6.png" ></span>
																<span pf-src="images/icon6-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon6.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon6.png" alt="image description"></noscript>
															</span>
															<span picture-fill data-alt="image description" class="hover">
																<span pf-src="images/icon6.png" ></span>
																<span pf-src="images/icon6-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
                                                                 <img src="images/icon6.png" alt="image description">
                                                                 <![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon6.png" alt="image description"></noscript>
															</span>
														</div>
														<strong class="title">COMING SOON!</strong>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="img-holder">
															<span picture-fill data-alt="image description" class="normal">
																<span pf-src="images/icon7.png" ></span>
																<span pf-src="images/icon7-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon7.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon7.png" alt="image description"></noscript>
															</span>
															<span picture-fill data-alt="image description" class="hover">
																<span pf-src="images/icon7.png" ></span>
																<span pf-src="images/icon7-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
                                                                 <img src="images/icon7.png" alt="image description">
                                                                 <![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon7.png" alt="image description"></noscript>
															</span>
														</div>
														<strong class="title">COMING SOON!</strong>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="img-holder">
															<span picture-fill data-alt="image description" class="normal">
																<span pf-src="images/icon8.png" ></span>
																<span pf-src="images/icon8-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon8.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon8.png" alt="image description"></noscript>
															</span>
															<span picture-fill data-alt="image description" class="hover">
                                                                <span pf-src="images/icon8.png" ></span>
																<span pf-src="images/icon8-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
                                                                 <img src="images/icon8.png" alt="image description">
                                                                 <![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon8.png" alt="image description"></noscript>
															</span>
														</div>
														<strong class="title">COMING SOON!</strong>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li><a href="#/messages/">My Messages (15)</a></li>
									<li><a href="#">My Wait Lists (3)</a></li>
                                    <li><a href="#/purchase-history/">Purchase History</a></li>
                                    <li><a href="#/coachmessages/">Coach Messages</a></li>
									<li><a href="#">Account Settings</a></li>
									<li><a href="#">Customer Support</a></li>
									<li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Logout</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<script type="text/javascript" src="bower/jquery.main.js"></script>