


<!-- main container of all the page elements -->
<div id="wrapper" class="live-chatb-page">
    
	<!-- header of the page -->
	<header id="header">
        
		<div class="header-holder">
			<strong class="btn-back"><a href="#/coach-details/">back</a></strong>
            
			<h1>Live Call</h1>
			
			<!-- nav holder -->
			<div class="nav-holder">
                
				<a href="#" class="filter">filter</a>
				<a href="#/messages/" class="inbox"><span class="counter">10</span></a>
				
				<!-- main navigation of the page -->
				<nav id="nav">
                    
					<a href="#" class="nav-opener">nav opener</a>
					<div class="slide-block">
						<a href="#" class="close">close</a>
						<div class="nav-slide">
							<a href="mailto:&#097;&#099;&#099;&#111;&#117;&#110;&#116;&#115;&#045;&#101;&#109;&#097;&#105;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="email">&#097;&#099;&#099;&#111;&#117;&#110;&#116;&#115;&#045;&#101;&#109;&#097;&#105;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
							<ul>
								<li class="has-dropdown">
									<a href="#">Choose a Sport</a>
									<div class="submenu">
										<a href="#" class="back-menu">BACK</a>
										<ul>
											<li>
												<a href="#">
													<div class="img-holder">
														<span picture-fill data-alt="image description" class="normal">
															<span pf-src="images/icon5.png" ></span>
															<span pf-src="images/icon5-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
															<!--[if (lt IE 9) & (!IEMobile)]>
                                                             <img src="images/icon5.png" alt="image description">
                                                             <![endif]-->
															<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
															<noscript><img src="images/icon5.png" alt="image description"></noscript>
														</span>
														<span picture-fill data-alt="image description" class="hover">
															<span pf-src="images/icon5-h.png" ></span>
															<span pf-src="images/icon5-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
															<!--[if (lt IE 9) & (!IEMobile)]>
                                                             <img src="images/icon5.png" alt="image description">
                                                             <![endif]-->
															<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
															<noscript><img src="images/icon5.png" alt="image description"></noscript>
														</span>
													</div><!-- end img-holder -->
													<strong class="title">FOOTBALL</strong>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="img-holder">
														<span picture-fill data-alt="image description" class="normal">
															<span pf-src="images/icon6.png" ></span>
															<span pf-src="images/icon6-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
															<!--[if (lt IE 9) & (!IEMobile)]>
                                                             <img src="images/icon6.png" alt="image description">
                                                             <![endif]-->
															<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
															<noscript><img src="images/icon6.png" alt="image description"></noscript>
														</span>
														<span picture-fill data-alt="image description" class="hover">
															<span pf-src="images/icon6-h.png" ></span>
															<span pf-src="images/icon6-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
															<!--[if (lt IE 9) & (!IEMobile)]>
                                                             <img src="images/icon6.png" alt="image description">
                                                             <![endif]-->
															<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
															<noscript><img src="images/icon6.png" alt="image description"></noscript>
														</span>
													</div><!-- end img-holder -->
													<strong class="title">COMING SOON!</strong>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="img-holder">
														<span picture-fill data-alt="image description" class="normal">
															<span pf-src="images/icon7.png" ></span>
															<span pf-src="images/icon7-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
															<!--[if (lt IE 9) & (!IEMobile)]>
                                                             <img src="images/icon7.png" alt="image description">
                                                             <![endif]-->
															<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
															<noscript><img src="images/icon7.png" alt="image description"></noscript>
														</span>
														<span picture-fill data-alt="image description" class="hover">
															<span pf-src="images/icon7-h.png" ></span>
															<span pf-src="images/icon7-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
															<!--[if (lt IE 9) & (!IEMobile)]>
                                                             <img src="images/icon7.png" alt="image description">
                                                             <![endif]-->
															<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
															<noscript><img src="images/icon7.png" alt="image description"></noscript>
														</span>
													</div><!-- end img-holder -->
													<strong class="title">COMING SOON!</strong>
												</a>
											</li>
											<li>
												<a href="#">
													<div class="img-holder">
														<span picture-fill data-alt="image description" class="normal">
															<span pf-src="images/icon8.png" ></span>
															<span pf-src="images/icon8-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
															<!--[if (lt IE 9) & (!IEMobile)]>
                                                             <img src="images/icon8.png" alt="image description">
                                                             <![endif]-->
															<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
															<noscript><img src="images/icon8.png" alt="image description"></noscript>
														</span>
														<span picture-fill data-alt="image description" class="hover">
															<span pf-src="images/icon8-h.png" ></span>
															<span pf-src="images/icon8-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
															<!--[if (lt IE 9) & (!IEMobile)]>
                                                             <img src="images/icon8.png" alt="image description">
                                                             <![endif]-->
															<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
															<noscript><img src="images/icon8.png" alt="image description"></noscript>
														</span>
													</div><!-- end img-holder -->
													<strong class="title">COMING SOON!</strong>
												</a>
											</li>
										</ul>
									</div><!-- end submenu -->
								</li>
								<li><a href="#">My Messages</a></li>
								<li><a href="#">My Account</a></li>
								<li><a href="#">Customer Support</a></li>
								<li><a href="#">Terms &amp; Conditions</a></li>
							</ul>
						</div><!-- end nav-slide -->
					</div><!-- end slide-block -->
				</nav><!-- end nav -->
			</div><!-- end nav-holder -->
		</div><!-- end header-holder -->
	</header><!-- end header -->
	<!-- contain main informative part of the site -->
	<div id="main">
		<!-- live chat -->
		<section class="coachs live-chat">
			<div class="author">
				<div class="box">
					<div class="fav active">
						<a href="#">star</a>
						<strong>FAV</strong>
					</div>
					<div class="img-holder">
						<span picture-fill data-alt="image description">
							<span pf-src="images/img1.jpg" ></span>
							<span pf-src="images/img1-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
							<span pf-src="images/img1-s.jpg" data-media="(max-width:600px)" ></span>
							<span pf-src="images/img1-s-2x.jpg" data-media="(max-width:600px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:600px) and (min-resolution:144dpi)" ></span>
							<!--[if (lt IE 9) & (!IEMobile)]>
                             <img src="images/img1.jpg" alt="image description">
                             <![endif]-->
							<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
							<noscript><img src="images/img2.jpg" alt="image description"></noscript>
						</span>
					</div><!-- end img-holder -->
					<div class="text">
						<strong class="title"><a href="#">Coach John S.</a></strong>
						<div class="status active">
							<span class="online">ONLINE - AVAILABLE</span>
							<span class="offline">OFFLINE</span>
						</div><!-- end status active -->
					</div><!-- end text -->
				</div><!-- end box -->
			</div><!-- end author -->
			<!-- live chat box -->
			<div class="call-box">
				<div class="scrollable-area">
					<div class="scroll-text">
						<p class = "scrollable-text">$5 will get you 5 minutes with the Coach.  Your 10 minute call will begin as soon as the Coach is on the line.</p>
						<p class = "scrollable-text">You will be notified when time is running out & you will be asked if you would like to extend the session for an additional fee.</p>
                        </div><!- end scroll-text -->
                        </div><!-- end scrollable-area -->
                        <form action="#/callD3-B/" class="message-box add-height-elem">
                        <fieldset>
                        <input class = "btn-call-now" type="submit" value="Call Now" style="background-color:blue;width:300px;height:50px;display:block;margin:0 auto;position:relative;float:none;text-transform:none;line-height:50px;">
                        </fieldset>
                        </form><!-- end form -->
                    </div><!-- end call-box -->
                    </section><!-- end coachs live-chat -->
		<!--footer id="footer">
         <form action="#" id = "call-coach" class="call-coach">
         <fieldset>
         <input class = "btn-call-now" type="submit" value="Call Now" style="background-color:blue;">
         </fieldset>
         </form>
         </footer--><!-- end footer -->
	</div><!-- end main -->	
</div><!-- end wrapper -->

<!--script type="text/javascript" src="bower/main.js"></script-->
        
        
