<!doctype html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bell.com</title>
	<!-- include the site stylesheet -->
	<link media="all" rel="stylesheet" href="css/all.css">
	<!-- include jQuery library -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
	<!-- include custom JavaScript -->
	<script type="text/javascript" src="js/jquery.main.js"></script>
	<!-- include HTML5 IE enabling script and stylesheet for IE -->
	<!--[if IE]><script type="text/javascript" src="js/ie.js"></script><![endif]-->
</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper" class="messages-page">
		<!-- header of the page -->
		<header id="header">
			<div class="header-holder">
				<strong class="btn-back"><a href="#">back</a></strong>
				<h1>Messages</h1>
				<!-- nav holder -->
				<div class="nav-holder">
					<a href="#" class="filter">filter</a>
					<a href="#" class="inbox"><span class="counter">10</span></a>
					<!-- main navigation of the page -->
					<nav id="nav">
						<a href="#" class="nav-opener">nav opener</a>
						<div class="slide-block">
							<a href="#" class="close">close</a>
							<div class="nav-slide">
								<a href="mailto:&#097;&#099;&#099;&#111;&#117;&#110;&#116;&#115;&#045;&#101;&#109;&#097;&#105;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" class="email">&#097;&#099;&#099;&#111;&#117;&#110;&#116;&#115;&#045;&#101;&#109;&#097;&#105;&#108;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
								<ul>
									<li class="has-dropdown">
										<a href="#">Choose a Sport</a>
										<div class="submenu">
											<a href="#" class="back-menu">BACK</a>
											<ul>
												<li>
													<a href="#">
														<div class="img-holder">
															<span data-picture data-alt="image description" class="normal">
																<span data-src="images/icon5.png" ></span>
																<span data-src="images/icon5-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon5.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon5.png" alt="image description"></noscript>
															</span>
															<span data-picture data-alt="image description" class="hover">
																<span data-src="images/icon5-h.png" ></span>
																<span data-src="images/icon5-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon5.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon5.png" alt="image description"></noscript>
															</span>
														</div>
														<strong class="title">FOOTBALL</strong>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="img-holder">
															<span data-picture data-alt="image description" class="normal">
																<span data-src="images/icon6.png" ></span>
																<span data-src="images/icon6-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon6.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon6.png" alt="image description"></noscript>
															</span>
															<span data-picture data-alt="image description" class="hover">
																<span data-src="images/icon6-h.png" ></span>
																<span data-src="images/icon6-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon6.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon6.png" alt="image description"></noscript>
															</span>
														</div>
														<strong class="title">COMING SOON!</strong>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="img-holder">
															<span data-picture data-alt="image description" class="normal">
																<span data-src="images/icon7.png" ></span>
																<span data-src="images/icon7-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon7.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon7.png" alt="image description"></noscript>
															</span>
															<span data-picture data-alt="image description" class="hover">
																<span data-src="images/icon7-h.png" ></span>
																<span data-src="images/icon7-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon7.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon7.png" alt="image description"></noscript>
															</span>
														</div>
														<strong class="title">COMING SOON!</strong>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="img-holder">
															<span data-picture data-alt="image description" class="normal">
																<span data-src="images/icon8.png" ></span>
																<span data-src="images/icon8-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon8.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon8.png" alt="image description"></noscript>
															</span>
															<span data-picture data-alt="image description" class="hover">
																<span data-src="images/icon8-h.png" ></span>
																<span data-src="images/icon8-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
																<!--[if (lt IE 9) & (!IEMobile)]>
																	<img src="images/icon8.png" alt="image description">
																<![endif]-->
																<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
																<noscript><img src="images/icon8.png" alt="image description"></noscript>
															</span>
														</div>
														<strong class="title">COMING SOON!</strong>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li><a href="#">My Messages</a></li>
									<li><a href="#">My Account</a></li>
									<li><a href="#">Customer Support</a></li>
									<li><a href="#">Terms &amp; Conditions</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- contain main informative part of the site -->
		<div id="main">
			<!-- messages -->
			<section class="messages">
				<!-- filter header -->
				<header class="filter-header">
					<a href="#" class="btn-filter by-date">By Date</a>
					<a href="#" class="btn-filter">All (15)</a>
				</header>
				<div class="scrollable-area">
					<div class="scroll-holder">
						<ul>
							<li class="incoming call">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">March 3</time>
								</a>
							</li>
							<li class="wait chat even">
								<a href="#">
									<strong class="title">Coach Ruby S.</strong>
									<time datetime="2014-04-14">March 1</time>
								</a>
							</li>
							<li class="complete question">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">February 28</time>
								</a>
							</li>
							<li class="wait call even">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">February 27</time>
								</a>
							</li>
							<li class="wait question">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">February 26</time>
								</a>
							</li>
							<li class="incoming chat even">
								<a href="#">
									<strong class="title">Coach Ruby S.</strong>
									<time datetime="2014-04-14">February 25</time>
								</a>
							</li>
							<li class="incoming question">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">February 24</time>
								</a>
							</li>
							<li class="complete call even">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">February 23</time>
								</a>
							</li>
							<li class="complete chat">
								<a href="#">
									<strong class="title">Coach Ruby S.</strong>
									<time datetime="2014-04-14">March 1</time>
								</a>
							</li>
							<li class="incoming call">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">March 3</time>
								</a>
							</li>
							<li class="wait chat even">
								<a href="#">
									<strong class="title">Coach Ruby S.</strong>
									<time datetime="2014-04-14">March 1</time>
								</a>
							</li>
							<li class="complete question">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">February 28</time>
								</a>
							</li>
							<li class="wait call even">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">February 27</time>
								</a>
							</li>
							<li class="wait question">
								<a href="#">
									<strong class="title online">Coach John S.</strong>
									<time datetime="2014-04-14">February 26</time>
								</a>
							</li>
							<li class="incoming chat even">
								<a href="#">
									<strong class="title">Coach Ruby S.</strong>
									<time datetime="2014-04-14">February 25</time>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<!-- footer of the page -->
		<footer id="footer">
			<!-- info -->
			<div class="info">
				<div class="info-holder">
					<ul class="status-info">
						<li class="wait"><a href="#">Wait List</a></li>
						<li class="incoming"><a href="#">Incoming</a></li>
						<li class="complete"><a href="#">Completed</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>