
<!-- main container of all the page elements -->		
		<div id="wrapper" class="bg-blue">
		
			<header id = "header">				
				<div class="sign_up_logo"></div>
			</header><!-- end header -->
			
			<div class="container">
				<!-- contain main informative part of the site -->
				
				<div id="main">
				
					<!-- login form -->
					<form action="#" class="login-form" role="form" id="sign-form">
						<fieldset>
							<p id="h2Signup" ><a href="#/login/" class="signback"><</a>Quick Sign-up</p>
							<input type="text" placeholder="First Name">
							<input type="text" placeholder="Last Name">
							<input type="text" placeholder="Email Address">
							<input type="password" placeholder="Create a Password">
							<input type="password" placeholder="Confirm Password">
							<input type="submit" value="Complete Sign-up" style="text-align:center"><!-- for signup -->
							
						</fieldset>
					</form><!-- end login-form -->
					
				
				
				</div><!-- end main -->
				
			</div><!-- end container -->
			
			
			</div><!-- end wrapper -->

		