	
<script type="text/javascript">
 showMsg();
    	$(document).ready(function(){
			showMsg();
		});
		function closeBtn(){
			$('#help-overlay').slideUp();			
		}
		function showMsg(){
		
			var msg = document.getElementById('help-overlay');	
			msg.style.display = 'block';
		}
    </script>
<div class="help-overlay container-fluid" id="help-overlay" >
<div id="closeBtn" class="close_btn" onClick="closeBtn()"></div>
<div id="main-Overlay" style="">

	<div class="overlay-message" >
        <p class="title" >
        	<span >Thanks for downloading the Fantasy Coaching Staff app</span>
        </p>

        <p class="p1" >
	        <span style="">We've given you </span>
	        <span style="font-weight:bold;">one free text</span>
	        <span style=""> to ask one of our experts a quick question.</span>
        </p>

        <p class="p2">
        	<span >&nbsp;</span>
        </p>

        <p class="p3">
        <span >But - to get the most complete and in-depth answers to win each week - check out the live message and phone options. Expert coaches and former players are&nbsp; standing by to give you advice for your team NOW! </span>
        </p>
        <div> 
        	<div class="get-started-btn">
		        <input name="Get Started!" onClick="closeBtn()" type="submit" class="get-btn" value="Get Started!" style="border-radius: 5px;width: 131px;-webkit-border-radius: 3px !important; "> 
            </div>
        </div> <!-- col-xs-12 end -->
	</div>
	</div>
</div> <!-- help container end -->

	<!-- main container of all the page elements -->
	<div id="wrapper" class="bg-blue">
		<!-- contain main informative part of the site -->
		<div id="main">
			<!-- page logo -->
			<strong class="logo"><a href="#">FANTASY COACHING STAFF</a></strong>
			<!-- welcome area area -->
			<section class="welcome-area">
				<a href="#" class="btn">Choose a Sport</a>
				<ul>
					<li>
						<a href="#/coach-box/">
							<div class="img-holder">
								<span picture-fill data-alt="image description" class="normal" style="display:none;">
									<span pf-src="images/icon3.png" ></span>
									<span pf-src="images/icon3-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon3.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon3.png" alt="image description"></noscript>
									
								</span>
								<span picture-fill data-alt="image description" class="hover" style="display:block;">
									<span pf-src="images/icon3-h.png" ></span>
									<span pf-src="images/icon3-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon3.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon3.png" alt="image description"></noscript>
								
								</span>
							</div>
							<strong class="title" style="color:white;">FOOTBALL</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="img-holder">
								<span picture-fill data-alt="image description" class="normal">
									<span pf-src="images/icon2.png" ></span>
									<span pf-src="images/icon2-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon2.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon2.png" alt="image description"></noscript>
									
								</span>
                                <span picture-fill data-alt="image description" class="hover">
									<span pf-src="images/icon2.png" ></span>
									<span pf-src="images/icon2-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
                                     <img src="images/icon2.png" alt="image description">
                                     <![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon2.png" alt="image description"></noscript>
									
								</span>
								<!--span picture-fill data-alt="image description" class="hover">
									<span pf-src="images/icon2-h.png" ></span>
									<span pf-src="images/icon2-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span-->
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon2.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<!--noscript><img src="images/icon2.png" alt="image description"></noscript>
									
								</span-->
							</div>
							<strong class="title">COMING SOON!</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="img-holder">
								<span picture-fill data-alt="image description" class="normal">
									<span pf-src="images/icon1.png" ></span>
									<span pf-src="images/icon1-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon1.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon1.png" alt="image description"></noscript>
									
								</span>
                                <span picture-fill data-alt="image description" class="hover">
									<span pf-src="images/icon1.png" ></span>
									<span pf-src="images/icon1-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
                                     <img src="images/icon1.png" alt="image description">
                                     <![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon1.png" alt="image description"></noscript>
									
								</span>
								<!--span picture-fill data-alt="image description" class="hover">
									<span pf-src="images/icon1-h.png" ></span>
									<span pf-src="images/icon1-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span-->
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon1.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<!--noscript><img src="images/icon1.png" alt="image description"></noscript>
									
								</span-->
							</div>
							<strong class="title">COMING SOON!</strong>
						</a>
					</li>
					<li>
						<a href="#">
							<div class="img-holder">
								<span picture-fill data-alt="image description" class="normal">
									<span pf-src="images/icon4.png" ></span>
									<span pf-src="images/icon4-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon4.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon4.png" alt="image description"></noscript>
									<img src="images/icon4.png" alt="image description">
								</span>
                                <span picture-fill data-alt="image description" class="hover">
									<span pf-src="images/icon4.png" ></span>
									<span pf-src="images/icon4-2x.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
                                     <img src="images/icon4.png" alt="image description">
                                     <![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/icon4.png" alt="image description"></noscript>
									<img src="images/icon4.png" alt="image description">
                                </span>
								<!--span picture-fill data-alt="image description" class="hover">
									<span pf-src="images/icon4-h.png" ></span>
									<span pf-src="images/icon4-2x-h.png" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:144dpi)" ></span-->
									<!--[if (lt IE 9) & (!IEMobile)]>
										<img src="images/icon4.png" alt="image description">
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<!--noscript><img src="images/icon4.png" alt="image description"></noscript>
									<img src="images/icon4.png" alt="image description">
								</span-->
							</div>
							<strong class="title">COMING SOON!</strong>
						</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<!--script type="text/javascript" src="bower/main.js"></script-->